.about {
  padding: 50px 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  display: none;

  .grid-about-left {
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    text-align: left;
    gap: 20px;

    div {
      padding: 0 20px;

      img {
        width: 100%;
      }

      h4 {
        padding-bottom: 10px;
        color: $color1;
        font-size: 1.3rem;
      }

      p {
        text-align: justify;
        padding-bottom: 20px;

        span {
          color: $color1;
          font-family: $font2;
        }
      }
    }
  }

  .grid-about-right {
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
    text-align: left;
    gap: 20px;

    div {
      padding: 0 20px;

      img {
        width: 100%;
      }

      h4 {
        padding-bottom: 10px;
        color: $color1;
        font-size: 1.3rem;
      }

      p {
        text-align: justify;
        padding-bottom: 20px;

        span {
          color: $color1;
          font-family: $font2;
        }
      }
    }
  }

  li {
    list-style: none;
    color: $grey4;

    i {
      color: $color1;
    }
  }

  div:nth-child(2) {
    line-height: 30px;
  }
}
