.accueil {
  padding: 50px 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;

  div {
    h2 {
      font-size: 2rem;
      padding-bottom: 20px;
    }

    h3 {
      padding-bottom: 20px;
    }
  }
}
