.blog {
  @include section;
  display: none;

  .blog-container {
    @include resumePortfolio;

    a {
      text-align: center;
      &:hover {
        overflow: hidden;
        img {
          transform: scale(1.1);
        }
      }

      div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        img {
          height: 240px;
          border-radius: 20px 20px 0 0;
          @media screen and (max-width: 1153px) {
            height: auto;
            width: 100%;
          }
        }

        h4 {
          padding: 15px;
          color: $color1;
          font-size: 1.2rem;

          @media screen and (max-width: 1153px) {
            text-align: center;
          }
        }
      }
    }

    div:nth-child(2) {
      line-height: 30px;
    }
  }
}
