.copyright {
  grid-area: co;
  height: 10vh;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  line-height: 15px;

  @media screen and (max-width: 1153px) {
    padding: 25px 0 10px 0;
    line-height: 10px;
  }
  small {
    color: $black1;

    font-size: 0.7rem;
    a {
      font-size: 0.7rem;
      text-decoration: none;
      color: $black1;
      font-weight: normal;
      &:hover {
        color: $color1;
      }
    }
  }
}
