header {
  background: $color1;

  div {
    height: 25vh;
    padding: 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      text-align: center;
      width: 80%;
      color: $white1;
      font-size: 1.5rem;
      text-transform: uppercase;
    }

    button {
      border: 2px solid $white1;
      a {
        text-decoration: none;
        color: $white1;
        &:hover {
          color: $white1;
        }
      }
    }
  }
}
