.navsidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $white1;
  box-shadow: 0px 0px 0px 1px $blackShadow;
  border-radius: 350px;
  margin: 10px 0;
  height: 100%;

  @media screen and (max-width: 1153px) {
    margin: 0 auto;
    width: 90%;
    flex-direction: row;
  }

  div {
    display: flex;
    align-items: center;
    position: relative;
    text-align: center;
    justify-content: center;
    transition: 0.2s;

    .bulle {
      display: none;
      position: absolute;
      justify-content: center;
      align-items: center;
      background: $grey1;
      color: $white1;
      padding: 10px 20px;
      font-size: 0.9rem;
      width: 120px;
      border-radius: 50px;
      transform: translateX(-80px);
      z-index: 1000000;
    }

    i {
      color: $grey1;
      font-size: 1.5rem;
      padding: 20px 0;
      transition: 0.2s;
      cursor: pointer;

      @media screen and (max-width: 1153px) {
        padding: 0 10px;
      }
    }
    &:hover {
      i {
        color: $color1;
        transform: scale(1.1);
      }

      .bulle {
        display: flex;
      }
    }
  }
}
