.pages {
  height: 100%;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 0px 0px 0px 1px $blackShadow;
  z-index: 1000;
  background: $white1;
  overflow-y: auto;
  overflow-clip-margin: border-box;

  @media screen and (max-width: 1153px) {
    margin: 0 auto;
    width: 90%;
    padding: 50px 20px;
  }
}
