.portfolio {
  @include section;
  display: none;

  .portfolio-container {
    @include resumePortfolio;

    a {
      &:hover {
        overflow: hidden;

        img {
          transform: scale(1.1);
        }
      }

      div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        img {
          width: 100%;
          border-radius: 20px 20px 0 0;
          margin-bottom: 10px;
        }

        h4 {
          padding-top: 15px;
          color: $color1;
          font-size: 1.2rem;
        }

        p {
          padding: 15px 0 30px 0;
          color: $grey4;
          small {
            font-size: 0.8rem;
          }
        }
      }
    }

    div:nth-child(2) {
      line-height: 30px;
    }
  }
}
