.resume {
  @include section;
  display: none;

  .container-services {
    @include resumePortfolio;

    a {
      padding: 30px;

      &:hover {
        i,
        h4 {
          transform: scale(1.1);
        }
      }

      div {
        h4 {
          padding-bottom: 15px;
          color: $color1;
          font-size: 1.2rem;

          @media screen and (max-width: 1153px) {
            text-align: center;
          }
        }

        i {
          font-size: 2rem;
          color: $color1;
          text-align: center;
          padding-bottom: 20px;
        }
        ul {
          padding-bottom: 20px;
          li {
            text-align: justify;
            color: $grey4;
            list-style: none;
            font-size: 0.9rem;
            padding-bottom: 5px;

            @media screen and (max-width: 1153px) {
              text-align: center;
            }
            i {
              font-size: 0.9rem;
              padding-bottom: 0px;
            }
          }
        }
      }
    }

    div:nth-child(2) {
      line-height: 30px;
    }
  }
}
