.resume {
  padding: 50px 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  display: none;

  .container-services {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: start;
    text-align: left;
    gap: 10px;
    width: 85%;
    margin: 0 auto;
    padding-bottom: 50px;

    a {
      text-decoration: none;
      border: 1px solid $color1;
      border-radius: 20px;
      padding: 30px;
      height: 100%;
      text-align: center;
      box-shadow: 1px 1px 1px $blackShadow;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: 0.2s;
      &:hover {
        box-shadow: 1px 1px 10px $blackShadow;
        background: $color1;

        i,
        h4 {
          color: $white1;
          transform: scale(1.1);
        }

        li {
          color: $black1;
        }
      }

      div {
        h4 {
          padding-bottom: 15px;
          color: $color1;
          font-size: 1.2rem;
        }

        i {
          font-size: 2rem;
          color: $color1;
          text-align: center;
          padding-bottom: 20px;
        }
        ul {
          padding-bottom: 20px;
          li {
            text-align: justify;
            color: $grey4;
            list-style: none;
            font-size: 0.9rem;
            padding-bottom: 5px;
            i {
              font-size: 0.9rem;
              padding-bottom: 0px;
            }
          }
        }
      }
    }

    div:nth-child(2) {
      line-height: 30px;
    }
  }
}
